In [1]:
import pandas as pd
import numpy as np
import math
from scipy import signal

In [2]:
xls1 = pd.ExcelFile("../Data/sub1int1.xlsx")
in_df1 = pd.read_excel(xls1, 'Sheet2')

xls2 = pd.ExcelFile("../Data/sub2int1.xlsx")
in_df2 = pd.read_excel(xls2, 'Sheet1')

xls3 = pd.ExcelFile("../Data/sub3int1.xlsx")
in_df3 = pd.read_excel(xls3, 'Sheet1')

xls4 = pd.ExcelFile("../Data/sub4int1.xlsx")
in_df4 = pd.read_excel(xls4, 'Sheet1')

out_df1 = pd.read_csv("../Data/Outputs/modified_labels1.csv")
out_df2 = pd.read_csv("../Data/Outputs/modified_labels2.csv")
out_df3 = pd.read_csv("../Data/Outputs/modified_labels3.csv")
out_df4 = pd.read_csv("../Data/Outputs/modified_labels4.csv")

In [3]:
in_df = in_df1
out_df = out_df1

In [4]:
in_df.to_csv("intermediate.csv", index = False)
in_df = pd.read_csv("intermediate.csv")

In [5]:
in_df

,C,x-mm,y-mm,z-mm,vx,vy,vz,sesno,img1,img2,...,img28,img29,img30,img31,img32,img33,img34,img35,img36,img37
0,17.0,100,14,68,50,7,34,ses-1,11.568272,14.718769,...,7.678334,14.470495,9.104935,11.447870,12.133381,9.429155,4.876123,9.902746,13.703201,14.822933
1,NaN,34,60,46,17,30,23,NaN,8.418530,9.140003,...,15.696388,16.284939,13.396814,9.181289,14.091441,14.363405,11.653001,16.071894,15.325947,16.170849
2,NaN,104,16,66,52,8,33,NaN,5.335411,11.195811,...,9.593461,16.456656,10.991147,10.191215,10.318825,14.002117,10.663024,12.775047,13.698192,19.322113
3,NaN,40,16,64,20,8,32,NaN,7.019155,7.365413,...,5.105769,4.360600,5.363657,7.104578,6.140540,4.116913,4.835612,4.109466,2.471249,1.899486
4,NaN,116,52,42,58,26,21,NaN,9.566659,4.723678,...,6.680162,6.624405,5.439507,5.952374,6.175746,5.402985,7.606195,4.207358,3.418871,5.865577
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693,3.0,106,72,6,53,36,3,NaN,65.864769,65.864838,...,65.864883,65.864769,65.865028,65.864754,65.864792,65.864754,65.864769,65.864929,65.864822,65.864830
694,NaN,98,14,72,49,7,36,NaN,3.737341,5.076402,...,10.860976,5.653155,3.711758,4.998533,3.020572,6.513181,7.755285,4.212862,10.423318,9.012079
695,NaN,108,34,36,54,17,18,NaN,4.698656,6.333552,...,3.426545,3.619110,2.385042,1.730070,3.603373,2.358210,4.338464,2.285851,4.329662,5.584894
696,2.0,106,72,6,53,36,3,NaN,65.864723,65.864838,...,65.864700,65.864838,65.864876,65.864731,65.864738,65.864891,65.864754,65.864822,65.864716,65.864731
697,NaN,58,12,78,29,6,39,NaN,6.229633,12.846152,...,6.701075,7.409851,5.657294,8.488024,1.722459,7.060532,9.213081,12.745736,9.010698,7.021403

In [6]:
lst1 = in_df['vx']
lst2 = in_df['vy']
lst3 = in_df['vz']
len(lst3)

698

In [7]:
combined_lst = []
for i in range(len(lst1)):
    c = str(lst1[i]) + " " + str(lst2[i]) + " " + str(lst3[i])
    combined_lst.append(c)
    
length = len(combined_lst)
length

698

In [8]:
# combined_lst = list(set(combined_lst))
# len(combined_lst)

In [9]:
cols = []
for i in range(0,37):
    col = 'img' + str(i+1)
    cols.append(col)

In [10]:
coco_df = pd.DataFrame(columns=cols)
img_df = pd.DataFrame(columns=cols)
sun_df = pd.DataFrame(columns=cols)

In [11]:
img_df

Empty DataFrame
Columns: [img1, img2, img3, img4, img5, img6, img7, img8, img9, img10, img11, img12, img13, img14, img15, img16, img17, img18, img19, img20, img21, img22, img23, img24, img25, img26, img27, img28, img29, img30, img31, img32, img33, img34, img35, img36, img37]
Index: []

[0 rows x 37 columns]

In [12]:
sun_df

Empty DataFrame
Columns: [img1, img2, img3, img4, img5, img6, img7, img8, img9, img10, img11, img12, img13, img14, img15, img16, img17, img18, img19, img20, img21, img22, img23, img24, img25, img26, img27, img28, img29, img30, img31, img32, img33, img34, img35, img36, img37]
Index: []

[0 rows x 37 columns]

In [13]:
coco_df

Empty DataFrame
Columns: [img1, img2, img3, img4, img5, img6, img7, img8, img9, img10, img11, img12, img13, img14, img15, img16, img17, img18, img19, img20, img21, img22, img23, img24, img25, img26, img27, img28, img29, img30, img31, img32, img33, img34, img35, img36, img37]
Index: []

[0 rows x 37 columns]

In [14]:
in_df['C']

0      17.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
693     3.0
694     NaN
695     NaN
696     2.0
697     NaN
Name: C, Length: 698, dtype: float64

In [15]:
clust_lst = in_df['C']
clust_arr = np.array(clust_lst, dtype=np.float64)

In [16]:
np.isnan(clust_lst[2])

True

In [17]:
index_lst = []
for i in range(len(clust_lst)):
    if np.isnan(clust_lst[i]) == False:
        index_lst.append(i)

print(len(index_lst))
print(len(index_lst[1:]))
index_lst = index_lst[1:]
print(len(index_lst))

120
119
119

In [18]:
Final_outputs = []

In [19]:
out_num = out_df.to_numpy()

In [20]:
len(out_num)

4440

In [21]:
len(coco_df.columns)

37

In [22]:
Final_outputs = []
out_ind = 0
ind = 0
j = 0
lst_start = 0
while ind < length:
    if j < len(index_lst) and ind == index_lst[j]:
        lst_start += 37
        j += 1
    
    row = in_df.iloc[ind]
    
    imagenet = []
    coco = []
    sun = []
    
    detrend_in = []
    for pos in range(0,37):
        name = "img" + str(pos+1)
        detrend_in.append(float(row[name]))
        
    detrend_out = signal.detrend(np.array(detrend_in))
    
    coco_pres = False
    imagenet_pres = False
    sun_pres = False
    
    
    for pos in range(0,37):
        out_ind = lst_start + pos
        if out_num[out_ind] == 0:
            coco.append(detrend_out[pos])
            coco_pres = True
        
        elif out_num[out_ind] == 1:
            imagenet.append(detrend_out[pos])
            imagenet_pres = True
            
        elif out_num[out_ind] == 2:
            sun.append(detrend_out[pos])
            sun_pres = True
    
    if coco_pres == True:
        Final_outputs.append(0)
        len_c = 37 - len(coco)
        for i in range(len_c):
            coco.append(0)
        
        data_to_append = {}
        for i in range(len(coco_df.columns)):
            data_to_append[coco_df.columns[i]] = coco[i]

        coco_df = coco_df.append(data_to_append, ignore_index = True)
        
    if imagenet_pres == True:
        Final_outputs.append(1)
        len_i = 37 - len(imagenet)
        for i in range(len_i):
            imagenet.append(0)
            
        data_to_append = {}
        for i in range(len(img_df.columns)):
            data_to_append[img_df.columns[i]] = imagenet[i]

        img_df = img_df.append(data_to_append, ignore_index = True)
        
    if sun_pres == True:
        Final_outputs.append(2)
        len_s = 37 - len(sun)
        for i in range(len_s):
            sun.append(0)
            
        data_to_append = {}
        for i in range(len(sun_df.columns)):
            data_to_append[sun_df.columns[i]] = sun[i]

        sun_df = sun_df.append(data_to_append, ignore_index = True)
            
    
    ind += 1
    
coco_df

,img1,img2,img3,img4,img5,img6,img7,img8,img9,img10,...,img28,img29,img30,img31,img32,img33,img34,img35,img36,img37
0,3.743586,-2.344772,0.558520,-4.561647,-0.372201,6.541883,2.427524,8.289838,2.976098,4.818895,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-5.688038,2.009019,5.819114,2.125447,3.921084,-4.738885,-1.315909,-5.791414,-4.412352,-1.298667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.907265,5.449637,1.526082,0.560802,-1.121119,1.471639,-0.392918,1.682364,-0.201640,0.591805,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-0.387819,1.045941,2.207545,1.404742,-0.181374,-0.127429,-0.624329,0.009481,-2.202358,-1.221662,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.308524,1.852995,-0.794064,-0.338494,-1.980994,-3.986064,-0.082845,2.297374,0.597099,0.646549,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693,-0.000012,0.000016,0.000204,-0.000051,0.000166,0.000129,-0.000081,-0.000072,-0.000111,0.000063,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
694,-2.250168,-1.391641,-1.289415,-4.092983,0.521145,2.358394,1.342685,-0.035746,0.710727,1.253563,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
695,0.613735,-0.864015,1.334374,-0.413023,-1.382862,-1.045874,-0.096833,-1.102173,1.463028,0.572870,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
696,0.000011,-0.000019,0.000028,-0.000115,-0.000014,0.000086,0.000048,0.000003,0.000003,-0.000055,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
697,-1.651403,-6.620793,1.752758,4.357824,4.706237,0.922244,2.479096,2.999100,-1.361148,-4.908159,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
img_df

,img1,img2,img3,img4,img5,img6,img7,img8,img9,img10,...,img28,img29,img30,img31,img32,img33,img34,img35,img36,img37
0,-0.017533,3.095307,-0.941315,-0.702125,-7.594556,-4.593291,4.636204,0.538636,2.426107,2.168155,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.414304,0.985253,2.568126,3.973795,-0.854881,-2.123745,-1.567306,2.183181,-5.096820,-1.186255,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-2.951552,2.784862,0.383738,-1.418509,-1.000884,1.034859,4.721459,-0.415864,-2.281691,-4.259040,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.934342,2.315871,-0.594193,-0.469117,-0.747245,-0.410753,-0.175097,-0.244120,-0.557615,1.437255,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3.817365,-1.025980,1.318066,-0.827924,0.104814,2.410002,0.757868,-1.099794,0.782896,3.877856,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693,0.000055,-0.000153,0.000104,-0.000241,-0.000320,0.000168,0.000095,0.000239,0.000023,-0.000201,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
694,-0.966512,-2.127521,-4.090855,-1.588971,0.231222,4.566768,-0.247885,1.815279,7.568775,5.686900,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
695,2.267015,-0.734235,1.088004,-0.948820,-0.590162,-1.445689,-1.985764,0.528289,-0.214796,1.205210,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
696,-0.000076,0.000040,-0.000005,-0.000055,0.000035,0.000158,0.000029,-0.000047,0.000096,-0.000092,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
697,-3.886629,2.810574,-1.153365,-1.506912,-3.071990,5.132234,0.994844,4.623066,5.045888,2.064417,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
sun_df

,img1,img2,img3,img4,img5,img6,img7,img8,img9,img10,...,img28,img29,img30,img31,img32,img33,img34,img35,img36,img37
0,-8.279923,-4.825000,4.911282,-0.646313,3.144749,-2.963410,1.881462,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.964919,0.350736,-0.451636,-0.556213,-0.506351,2.949835,2.747741,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-4.254367,-3.473972,3.431773,-3.333236,1.014242,0.272546,6.571639,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-2.118695,-2.791566,-0.203150,-1.415941,0.001970,0.223851,-1.915588,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-2.948635,-2.153345,-1.967274,-2.631538,0.562677,-1.554324,0.103166,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693,0.000081,-0.000067,-0.000164,-0.000038,0.000181,-0.000027,-0.000052,0.000005,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
694,3.429023,1.665589,1.337352,-0.849315,2.405074,-4.684501,-0.060599,1.029980,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
695,2.597350,-1.034963,0.757204,0.012142,2.627683,0.088345,0.860203,2.161784,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
696,-0.000008,0.000038,0.000054,-0.000044,-0.000066,-0.000025,0.000102,0.000053,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
697,-0.037845,-5.558292,-5.488705,-3.635450,10.161835,-2.451383,-2.119144,5.372716,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
# len(Final_outputs)

In [26]:
# output_numpy = np.array(Final_outputs)
# output_numpy

In [27]:
# output_df = pd.DataFrame(output_numpy,columns = ['label'])
# output_df

In [28]:
coco_df.to_csv("../Data/Final_data_Split/Subject1/COCO.csv", index = False)
img_df.to_csv("../Data/Final_data_Split/Subject1/ImageNet.csv", index = False)
sun_df.to_csv("../Data/Final_data_Split/Subject1/SUN.csv", index = False)
# output_df.to_csv("../Final_data/Final_outputs_4.csv", index = False)