In [1]:
import pandas as pd
import numpy as np
import math
from scipy import signal

In [2]:
xls1 = pd.ExcelFile("../Data/sub1int1.xlsx")
in_df1 = pd.read_excel(xls1, 'Sheet2')

xls2 = pd.ExcelFile("../Data/sub2int1.xlsx")
in_df2 = pd.read_excel(xls2, 'Sheet1')

xls3 = pd.ExcelFile("../Data/sub3int1.xlsx")
in_df3 = pd.read_excel(xls3, 'Sheet1')

xls4 = pd.ExcelFile("../Data/sub4int1.xlsx")
in_df4 = pd.read_excel(xls4, 'Sheet1')

out_df1 = pd.read_csv("../data/Outputs/modified_labels1.csv")
out_df2 = pd.read_csv("../data/Outputs/modified_labels2.csv")
out_df3 = pd.read_csv("../data/Outputs/modified_labels3.csv")
out_df4 = pd.read_csv("../data/Outputs/modified_labels4.csv")

In [3]:
in_df = in_df3
out_df = out_df3

In [4]:
in_df.to_csv("intermediate.csv", index = False)
in_df = pd.read_csv("intermediate.csv")

In [5]:
in_df

,C,x-mm,y-mm,z-mm,vx,vy,vz,sesno,img1,img2,...,img28,img29,img30,img31,img32,img33,img34,img35,img36,img37
0,5.0,66,6,62,33,3,31,ses1,6.678165,7.556892,...,11.274510,8.008389,6.098120,6.374470,3.832067,8.531888,7.619523,9.698782,12.838894,6.687175
1,NaN,16,86,102,8,43,51,NaN,6.201463,4.202550,...,5.955412,7.410689,6.720079,9.374875,2.814912,4.736591,4.338413,9.199844,2.587083,4.366959
2,NaN,60,20,50,30,10,25,NaN,9.307576,10.309158,...,9.208954,12.161705,6.387990,10.281628,5.781130,10.977268,4.773858,10.789209,9.638502,8.400558
3,NaN,30,52,44,15,26,22,NaN,20.378139,16.770992,...,19.601397,16.609730,10.874746,16.845222,3.536368,16.689434,9.867992,13.879937,9.887803,14.481724
4,NaN,100,54,46,50,27,23,NaN,14.362635,11.493457,...,20.872610,17.232708,12.681945,4.552835,4.114649,9.585741,3.361729,3.768096,3.909451,11.574223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,4.0,36,48,44,18,24,22,NaN,16.989405,7.032269,...,22.075146,7.755249,6.516765,7.958226,15.217726,15.440352,10.240267,11.589069,11.734225,15.128249
561,NaN,30,52,44,15,26,22,NaN,36.413746,17.011543,...,28.468952,14.817387,14.434394,16.201458,22.140287,21.988171,17.941813,28.323904,26.102983,24.944485
562,NaN,60,20,50,30,10,25,NaN,16.132614,6.841804,...,11.754105,5.427917,7.658840,4.203344,18.828957,9.262287,11.788645,19.841000,13.279748,14.619200
563,NaN,98,56,48,49,28,24,NaN,36.663467,12.488334,...,65.605446,37.870937,19.848295,28.342529,52.585243,27.512386,13.570378,10.943423,32.334156,19.864286
564,1.0,42,54,44,21,27,22,NaN,7.813362,7.294510,...,1.845192,5.527143,8.380809,4.030306,10.336189,4.439628,6.960087,7.577936,6.160873,5.746698

In [6]:
lst1 = in_df['vx']
lst2 = in_df['vy']
lst3 = in_df['vz']
len(lst3)

565

In [7]:
combined_lst = []
for i in range(len(lst1)):
    c = str(lst1[i]) + " " + str(lst2[i]) + " " + str(lst3[i])
    combined_lst.append(c)
    
length = len(combined_lst)
length

565

In [8]:
# combined_lst = list(set(combined_lst))
# len(combined_lst)

In [9]:
cols = []
for i in range(0,37):
    col = 'img' + str(i+1)
    cols.append(col)

In [10]:
comp_df = pd.DataFrame(columns=cols)
comp_df

Empty DataFrame
Columns: [img1, img2, img3, img4, img5, img6, img7, img8, img9, img10, img11, img12, img13, img14, img15, img16, img17, img18, img19, img20, img21, img22, img23, img24, img25, img26, img27, img28, img29, img30, img31, img32, img33, img34, img35, img36, img37]
Index: []

[0 rows x 37 columns]

In [11]:
comp_df

Empty DataFrame
Columns: [img1, img2, img3, img4, img5, img6, img7, img8, img9, img10, img11, img12, img13, img14, img15, img16, img17, img18, img19, img20, img21, img22, img23, img24, img25, img26, img27, img28, img29, img30, img31, img32, img33, img34, img35, img36, img37]
Index: []

[0 rows x 37 columns]

In [12]:
in_df['C']

0      5.0
1      NaN
2      NaN
3      NaN
4      NaN
      ...
560    4.0
561    NaN
562    NaN
563    NaN
564    1.0
Name: C, Length: 565, dtype: float64

In [13]:
clust_lst = in_df['C']
clust_arr = np.array(clust_lst, dtype=np.float64)

In [14]:
np.isnan(clust_lst[2])

True

In [15]:
index_lst = []
for i in range(len(clust_lst)):
    if np.isnan(clust_lst[i]) == False:
        index_lst.append(i)

print(len(index_lst))
print(len(index_lst[1:]))
index_lst = index_lst[1:]
print(len(index_lst))

110
109
109

In [16]:
Final_outputs = []

In [17]:
out_num = out_df.to_numpy()

In [18]:
len(out_num)

4070

In [19]:
len(comp_df.columns)

37

In [20]:
Final_outputs = []
out_ind = 0
ind = 0
j = 0
lst_start = 0
while ind < length:
    if j < len(index_lst) and ind == index_lst[j]:
        lst_start += 37
        j += 1
    
    row = in_df.iloc[ind]
    
    imagenet = []
    coco = []
    sun = []
    
    detrend_in = []
    for pos in range(0,37):
        name = "img" + str(pos+1)
        detrend_in.append(float(row[name]))
        
    detrend_out = signal.detrend(np.array(detrend_in))
    
    coco_pres = False
    imagenet_pres = False
    sun_pres = False
    
    
    for pos in range(0,37):
        out_ind = lst_start + pos
        if out_num[out_ind] == 0:
            coco.append(detrend_out[pos])
            coco_pres = True
        
        elif out_num[out_ind] == 1:
            imagenet.append(detrend_out[pos])
            imagenet_pres = True
            
        elif out_num[out_ind] == 2:
            sun.append(detrend_out[pos])
            sun_pres = True
    
    if coco_pres == True:
        Final_outputs.append(0)
        coco_len = len(coco)
        len_c = 37 - coco_len
        rep_ind = 0
        for i in range(len_c):
            coco.append(coco[rep_ind])
            rep_ind = (rep_ind + 1)%coco_len
        
        data_to_append = {}
        for i in range(len(comp_df.columns)):
            data_to_append[comp_df.columns[i]] = coco[i]

        comp_df = comp_df.append(data_to_append, ignore_index = True)
        
    if imagenet_pres == True:
        Final_outputs.append(1)
        image_len = len(imagenet)
        len_i = 37 - image_len
        rep_ind = 0
        for i in range(len_i):
            imagenet.append(imagenet[rep_ind])
            rep_ind = (rep_ind + 1)%image_len
            
        data_to_append = {}
        for i in range(len(comp_df.columns)):
            data_to_append[comp_df.columns[i]] = imagenet[i]

        comp_df = comp_df.append(data_to_append, ignore_index = True)
        
    if sun_pres == True:
        Final_outputs.append(2)
        sun_len = len(sun)
        len_s = 37 - sun_len
        rep_ind = 0
        for i in range(len_s):
            sun.append(sun[rep_ind])
            rep_ind = (rep_ind + 1)%sun_len
            
        data_to_append = {}
        for i in range(len(comp_df.columns)):
            data_to_append[comp_df.columns[i]] = sun[i]

        comp_df = comp_df.append(data_to_append, ignore_index = True)
            
    
    ind += 1
    
comp_df

,img1,img2,img3,img4,img5,img6,img7,img8,img9,img10,...,img28,img29,img30,img31,img32,img33,img34,img35,img36,img37
0,-2.417099,-1.503188,-3.269673,-3.931844,0.114640,-1.327796,-1.730146,0.674268,0.149720,0.508491,...,-1.976816,-4.172502,0.562503,-2.417099,-1.503188,-3.269673,-3.931844,0.114640,-1.327796,-1.730146
1,2.694177,4.832816,-1.256101,4.855599,0.150838,-1.924483,3.779251,-2.358868,-5.002558,1.117044,...,-0.314678,4.975060,-1.141475,2.694177,4.832816,-1.256101,4.855599,0.150838,-1.924483,3.779251
2,0.742505,5.021310,2.189923,0.608903,-2.844505,3.129207,1.799764,0.742505,5.021310,2.189923,...,1.799764,0.742505,5.021310,2.189923,0.608903,-2.844505,3.129207,1.799764,0.742505,5.021310
3,1.226745,-0.800789,-1.711995,0.656553,-1.788577,-0.603581,2.937275,-1.830566,1.749488,-0.439940,...,0.915358,-3.047050,-1.153993,1.226745,-0.800789,-1.711995,0.656553,-1.788577,-0.603581,2.937275
4,-0.904182,0.853571,0.949903,-0.082244,0.122552,2.003360,0.010226,-0.332723,-0.505412,1.121559,...,-1.580792,-3.389363,-1.638108,-0.904182,0.853571,0.949903,-0.082244,0.122552,2.003360,0.010226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1690,-15.240253,4.617602,-14.196294,17.418275,29.456024,-18.725599,-13.158666,-4.451028,-9.811268,24.219727,...,3.225727,-23.882883,-2.175591,-15.240253,4.617602,-14.196294,17.418275,29.456024,-18.725599,-13.158666
1691,-18.179188,12.943874,-12.521044,8.467686,3.673442,21.970932,-11.230978,-18.179188,12.943874,-12.521044,...,-11.230978,-18.179188,12.943874,-12.521044,8.467686,3.673442,21.970932,-11.230978,-18.179188,12.943874
1692,0.593832,0.126553,0.163930,2.661867,-1.753413,-4.778223,-1.984924,1.211420,-1.309833,1.461608,...,-0.248354,4.715410,2.111874,0.746384,0.383781,0.593832,0.126553,0.163930,2.661867,-1.753413
1693,2.249809,2.462341,0.409153,3.123446,2.623774,1.322368,-0.578275,-0.309347,-0.535235,-3.755910,...,-1.642046,2.249809,2.462341,0.409153,3.123446,2.623774,1.322368,-0.578275,-0.309347,-0.535235
1694,-1.641333,-2.278715,-0.817069,-2.649115,-1.269578,-1.129579,1.442453,-1.641333,-2.278715,-0.817069,...,1.442453,-1.641333,-2.278715,-0.817069,-2.649115,-1.269578,-1.129579,1.442453,-1.641333,-2.278715

In [28]:
# comp_df.iloc[0]

In [22]:
comp_df

,img1,img2,img3,img4,img5,img6,img7,img8,img9,img10,...,img28,img29,img30,img31,img32,img33,img34,img35,img36,img37
0,-2.417099,-1.503188,-3.269673,-3.931844,0.114640,-1.327796,-1.730146,0.674268,0.149720,0.508491,...,-1.976816,-4.172502,0.562503,-2.417099,-1.503188,-3.269673,-3.931844,0.114640,-1.327796,-1.730146
1,2.694177,4.832816,-1.256101,4.855599,0.150838,-1.924483,3.779251,-2.358868,-5.002558,1.117044,...,-0.314678,4.975060,-1.141475,2.694177,4.832816,-1.256101,4.855599,0.150838,-1.924483,3.779251
2,0.742505,5.021310,2.189923,0.608903,-2.844505,3.129207,1.799764,0.742505,5.021310,2.189923,...,1.799764,0.742505,5.021310,2.189923,0.608903,-2.844505,3.129207,1.799764,0.742505,5.021310
3,1.226745,-0.800789,-1.711995,0.656553,-1.788577,-0.603581,2.937275,-1.830566,1.749488,-0.439940,...,0.915358,-3.047050,-1.153993,1.226745,-0.800789,-1.711995,0.656553,-1.788577,-0.603581,2.937275
4,-0.904182,0.853571,0.949903,-0.082244,0.122552,2.003360,0.010226,-0.332723,-0.505412,1.121559,...,-1.580792,-3.389363,-1.638108,-0.904182,0.853571,0.949903,-0.082244,0.122552,2.003360,0.010226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1690,-15.240253,4.617602,-14.196294,17.418275,29.456024,-18.725599,-13.158666,-4.451028,-9.811268,24.219727,...,3.225727,-23.882883,-2.175591,-15.240253,4.617602,-14.196294,17.418275,29.456024,-18.725599,-13.158666
1691,-18.179188,12.943874,-12.521044,8.467686,3.673442,21.970932,-11.230978,-18.179188,12.943874,-12.521044,...,-11.230978,-18.179188,12.943874,-12.521044,8.467686,3.673442,21.970932,-11.230978,-18.179188,12.943874
1692,0.593832,0.126553,0.163930,2.661867,-1.753413,-4.778223,-1.984924,1.211420,-1.309833,1.461608,...,-0.248354,4.715410,2.111874,0.746384,0.383781,0.593832,0.126553,0.163930,2.661867,-1.753413
1693,2.249809,2.462341,0.409153,3.123446,2.623774,1.322368,-0.578275,-0.309347,-0.535235,-3.755910,...,-1.642046,2.249809,2.462341,0.409153,3.123446,2.623774,1.322368,-0.578275,-0.309347,-0.535235
1694,-1.641333,-2.278715,-0.817069,-2.649115,-1.269578,-1.129579,1.442453,-1.641333,-2.278715,-0.817069,...,1.442453,-1.641333,-2.278715,-0.817069,-2.649115,-1.269578,-1.129579,1.442453,-1.641333,-2.278715

In [23]:
len(Final_outputs)

1695

In [24]:
output_numpy = np.array(Final_outputs)
output_numpy

array([0, 1, 2, ..., 0, 1, 2])

In [25]:
output_df = pd.DataFrame(output_numpy,columns = ['label'])
output_df

      label
0         0
1         1
2         2
3         0
4         1
...     ...
1690      1
1691      2
1692      0
1693      1
1694      2

[1695 rows x 1 columns]

In [26]:
comp_df.to_csv("../Data/Final_data_Repeat/Final_inputs_3.csv", index = False)
output_df.to_csv("../Data/Final_data_Repeat/Final_outputs_3.csv", index = False)